body{
    width:  980px;
    height: 1080px;
    border: thin solid white;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://www.csgowallpapers.com/assets/images/original/ct_t_background.png);
}
@font-face {
    font-family: Counter-Strike;
    src: url(https://rankwahn.github.io/Things/cs_regular.ttf);
}
#title{
    text-align: center;
    width: 980px;
    height: 45px;
    font-size: 40px;
    border: thin solid white;
    margin-left: auto;
    margin-right: auto;
    font-family: Counter-Strike, Counter-Strike;
}
#menuButton1{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid white;
    font-family: Counter-Strike, Counter-Strike;
}
#menuButton2{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid white;
    font-family: Counter-strike, Counter-strike;
}
#menuButton3{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid white;
    font-family: Counter-Strike, Counter-Strike;
}
#menuButton4{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid white;
    font-family: Counter-Strike, Counter-Strike;
}
