body{
    width:  980px;
    height: 1080px;
    border: thin solid;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://www.csgowallpapers.com/assets/images/original/ct_t_background.png);
}
#title{
    text-align: center;
    width: 980px;
    height: 45px;
    font-size: 40px;
    border: thin solid;
    margin-left: auto;
    margin-right: auto;
    font-family: Counter-Strike, counter-strike;
    color: white;
}
#menuButton1{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid;
    font-family: Counter-Strike, Counter-Strike;
}
#menuButton2{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid;
    font-family: counter-strike, counter-strike;
}
#menuButton3{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid;
    font-family: Counter-Strike, Counter-Strike;
}
#menuButton4{
    display:table-cell;
    text-align: center;
    height: 50px;
    width: 245px;
    border: thin solid;
    font-family: Counter-Strike, Counter-Strike;
}


